<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rake Labz</title>
  </head>
  <body>
    <ul>
      <li><%= @server_port %></li>
      <li><%= @request_method %></li>
    </ul>
  </body>
</html>
